<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='length.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='length.png') }}"></head>
<body>
    <!-- Nav -->
    <div id="navigation">
        <button disabled>Length</button>
        <button id="navWeight">Weight</button>
        <button id="navTemperature">Temperature</button>
    </div>

    <!-- Converting View -->
    <div id="converting-view">
        <label for="length">Enter the length to convert: </label>
        <input type="text" id="length" name="length" placeholder="length">
        

        <label for="from">Unit to convert from: </label>
        <input type="text" id="from" name="from" placeholder="mm cm m km in ft yd mi">


        <label for="to">Unit to convert to: </label>
        <input type="text" id="to" name="to" placeholder="mm cm m km in ft yd mi">


        <button id="convert">Convert</button>
    </div>

    <!-- Converted View -->
     <div id="converted-view" class="hidden">
        <p>Result of your calculation</p>
        <button id="reset">Reset</button>
     </div>

     
    <!-- Javascript -->
    <script>
        // Get elements
        const navWeight = document.getElementById("navWeight");
        const navTemperature = document.getElementById("navTemperature");                
        const length = document.getElementById("length");
        const convertFromUnit = document.getElementById("from");
        const convertToUnit = document.getElementById("to");
        const convertButton = document.getElementById("convert");
        const resetButton = document.getElementById("reset");

        // Add event listeners

        // Navigation buttons
        navWeight.addEventListener("click", function() {
            window.location.href = "/weight";
        });

        navTemperature.addEventListener("click", function() {
            window.location.href = "/temperature";
        });

        // Convert and Reset buttons
        convertButton.addEventListener("click", function() {
            document.getElementById('converting-view').classList.add('hidden');
            
            document.getElementById('converted-view').classList.remove('hidden');
        });

        resetButton.addEventListener("click", function() {
            document.getElementById('converting-view').classList.remove('hidden');
            
            document.getElementById('converted-view').classList.add('hidden');
        });
    </script>
</body>
</html>