<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='temperature.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='temperature.png') }}">
</head>
<body>
    <!-- Nav -->
    <div id="navigation">
        <button id="navLength">Length</button>
        <button id="navWeight">Weight</button>
        <button disabled>Temperature</button>
    </div>

    <!-- Converting View -->
    <div id="converting-view">
        <label for="temperature">Enter the temperature to convert: </label>
        <input type="text" id="temperature" name="temperature" placeholder="temperature">
        

        <label for="from">Unit to convert from: </label>
        <input type="text" id="from" name="from" placeholder="C F K">


        <label for="to">Unit to convert to: </label>
        <input type="text" id="to" name="to" placeholder="C F K">


        <button id="convert">Convert</button>
    </div>

    <!-- Converted View -->
    <div id="converted-view" class="hidden">
        <p>Result of your calculation</p>
        <p id="result"></p>
        <button id="reset">Reset</button>
    </div>

     
    <!-- Javascript -->
    <script src="static/temperature.js"></script>
</body>
</html>