<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='temperature.css') }}">
</head>
<body>
    <style>
        .hidden { display: none; }
    </style>

    <!-- Nav -->
    <div id="navigation">
        <button id="navLength">Length</button>
        <button id="navWeight">Weight</button>
        <button disabled>Temperature</button>
    </div>

    <!-- Converting View -->
    <div id="converting-view">
        <label for="temperature">Enter the temperature to convert: </label>
        <input type="text" id="temperature" name="temperature" placeholder="temperature">
        

        <label for="from">Unit to convert from: </label>
        <input type="text" id="from" name="from" placeholder="C F K">


        <label for="to">Unit to convert to: </label>
        <input type="text" id="to" name="to" placeholder="C F K">


        <button id="convert">Convert</button>
    </div>

    <!-- Converted View -->
     <div id="converted-view" class="hidden">
        <h1>Units converted yayyy</h1>
        <button id="reset">Reset</button>
     </div>

     
    <!-- Javascript -->
    <script>
        // Get elements
        const navLength = document.getElementById("navLength");
        const navWeight = document.getElementById("navWeight");                
        const temperature = document.getElementById("temperature");
        const convertFromUnit = document.getElementById("from");
        const convertToUnit = document.getElementById("to");
        const convertButton = document.getElementById("convert");
        const resetButton = document.getElementById("reset");

        // Add event listeners

        // Navigation buttons
        navLength.addEventListener("click", function() {
            window.location.href = "/length";
        });

        navWeight.addEventListener("click", function() {
            window.location.href = "/weight";
        });

        // Convert and Reset buttons
        convertButton.addEventListener("click", function() {
            document.getElementById('converting-view').classList.add('hidden');
            
            document.getElementById('converted-view').classList.remove('hidden');
        });

        resetButton.addEventListener("click", function() {
            document.getElementById('converting-view').classList.remove('hidden');
            
            document.getElementById('converted-view').classList.add('hidden');
        });
    </script>
</body>
</html>